<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>➔</string>
		<key>shortcut</key>
		<string>@@&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟧</string>
		<key>shortcut</key>
		<string>@@amber</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⬛️</string>
		<key>shortcut</key>
		<string>@@black</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟦</string>
		<key>shortcut</key>
		<string>@@blue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟫</string>
		<key>shortcut</key>
		<string>@@brown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>■</string>
		<key>shortcut</key>
		<string>@@bulletsq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▢</string>
		<key>shortcut</key>
		<string>@@checkbox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👏</string>
		<key>shortcut</key>
		<string>@@clap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✅</string>
		<key>shortcut</key>
		<string>@@done</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧨</string>
		<key>shortcut</key>
		<string>@@dynamite</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤞</string>
		<key>shortcut</key>
		<string>@@fingerscrossed</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔥</string>
		<key>shortcut</key>
		<string>@@fire</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟩</string>
		<key>shortcut</key>
		<string>@@green</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤘</string>
		<key>shortcut</key>
		<string>@@hangloose</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💡</string>
		<key>shortcut</key>
		<string>@@idea</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♥️</string>
		<key>shortcut</key>
		<string>@@love</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💰</string>
		<key>shortcut</key>
		<string>@@money</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💪</string>
		<key>shortcut</key>
		<string>@@muscle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙏</string>
		<key>shortcut</key>
		<string>@@pray</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👊</string>
		<key>shortcut</key>
		<string>@@punch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟪</string>
		<key>shortcut</key>
		<string>@@purple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟥</string>
		<key>shortcut</key>
		<string>@@red</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎸</string>
		<key>shortcut</key>
		<string>@@rock</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🚀</string>
		<key>shortcut</key>
		<string>@@rocket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⭐️</string>
		<key>shortcut</key>
		<string>@@star</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👎</string>
		<key>shortcut</key>
		<string>@@td</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏳</string>
		<key>shortcut</key>
		<string>@@time</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍</string>
		<key>shortcut</key>
		<string>@@tu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👆</string>
		<key>shortcut</key>
		<string>@@up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⚠️</string>
		<key>shortcut</key>
		<string>@@warning</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⬜️</string>
		<key>shortcut</key>
		<string>@@white</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❌</string>
		<key>shortcut</key>
		<string>@@wrong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🟨</string>
		<key>shortcut</key>
		<string>@@yellow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🫵</string>
		<key>shortcut</key>
		<string>@@you</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Thorbjörn</string>
		<key>shortcut</key>
		<string>Thorbjorn</string>
	</dict>
</array>
</plist>
